.home {
  /* height: calc(100vh - 10vh); */
  flex-grow: 1;
  /* background: url('../Images//banner.jpeg'); */
  background: url("../Images/Finnish_Food/salmon_my_fav.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  /* padding: 10px; */
  background-position: center;
  display: flex;
  justify-content: left;
  align-items: center;
}

.hero_text {
  padding: 10px;
  padding-right: 30px;
  display: flex;
  gap: 10px;
  background-color: #ffffffaa;
  flex-direction: column;
  /* width: 100%; */
  font-size: 1.8rem;
  justify-content: left;
  align-items: left;
}
@media (max-width: 600px) {
  .hero_text {
    width: 100%;
    padding-right: 10px;
  }
}

.hero_text h2 {
  line-height: 1;
}

.hero_text button {
  width: 140px;
  background-color: black;
  color: whitesmoke;
  border: none;
  border-radius: 8px;
  padding: 5px;
  transition: all 0.5s ease-in-out;
  cursor: pointer;
}

.hero_text button:hover {
  background-color: rgb(6, 211, 211);
  color: rgb(17, 17, 1);
}
